<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>Max xml file size (in bytes)</description>
        <param-name>maxXmlFileSize</param-name>
        <param-value>5242880</param-value>
    </context-param>
    <filter>
        <filter-name>CheckFileFilter</filter-name>
        <filter-class>com.ttsnetwork.elicitationtool.CheckFileFilter</filter-class>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/AdvanceET/pages/fileList.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.ttsnetwork.elicitationtool.LoginFilter</filter-class>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/AdvanceET/index.jsp?error=1</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>PermissionFilter</filter-name>
        <filter-class>com.ttsnetwork.elicitationtool.PermissionFilter</filter-class>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/AdvanceET/pages/fileList.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>SaveXmlServlet</servlet-name>
        <servlet-name>DownloadXmlServlet</servlet-name>
        <servlet-name>DeleteXmlServlet</servlet-name>
        <servlet-name>UploadXmlServlet</servlet-name>
        <servlet-name>GetXmlServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <servlet-name>SaveXmlServlet</servlet-name>
        <servlet-name>DownloadXmlServlet</servlet-name>
        <servlet-name>DeleteXmlServlet</servlet-name>
        <servlet-name>UploadXmlServlet</servlet-name>
        <servlet-name>GetXmlServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>/pages/editFile.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>/pages/viewFile.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckFileFilter</filter-name>
        <url-pattern>/pages/editFile.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/doc/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SaveXmlServlet</servlet-name>
        <servlet-class>com.ttsnetwork.elicitationtool.SaveXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadXmlServlet</servlet-name>
        <servlet-class>com.ttsnetwork.elicitationtool.DownloadXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteXmlServlet</servlet-name>
        <servlet-class>com.ttsnetwork.elicitationtool.DeleteXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadXmlServlet</servlet-name>
        <servlet-class>com.ttsnetwork.elicitationtool.UploadXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ttsnetwork.elicitationtool.LoginServlet</servlet-class>
        <init-param>
            <description>Accepted username for login</description>
            <param-name>userName</param-name>
            <param-value>tts</param-value>
        </init-param>
        <init-param>
            <description>Accepted password for login</description>
            <param-name>password</param-name>
            <param-value>1234</param-value>
        </init-param>
        <init-param>
            <param-name>resultPage</param-name>
            <param-value>pages/fileList.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/AdvanceET/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.ttsnetwork.elicitationtool.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetXmlServlet</servlet-name>
        <servlet-class>com.ttsnetwork.elicitationtool.GetXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileViewData</servlet-name>
        <servlet-class>com.ttsnetwork.elicitationtool.FileViewData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnsetUserBeanServlet</servlet-name>
        <servlet-class>com.ttsnetwork.elicitationtool.UnsetUserBeanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFileListServlet</servlet-name>
        <servlet-class>com.ttsnetwork.elicitationtool.GetFileListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveXmlServlet</servlet-name>
        <url-pattern>*.saveXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadXmlServlet</servlet-name>
        <url-pattern>*.downloadXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteXmlServlet</servlet-name>
        <url-pattern>*.deleteXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadXmlServlet</servlet-name>
        <url-pattern>*.uploadXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>*.login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>*.logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetXmlServlet</servlet-name>
        <url-pattern>*.getXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileViewData</servlet-name>
        <url-pattern>/FileViewData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnsetUserBeanServlet</servlet-name>
        <url-pattern>*.unsetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFileListServlet</servlet-name>
        <url-pattern>*.getFileList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <env-entry>
<!--            It is possible to add the following code to Tomcat's context.xml to
            customize file repository location:
        	<Environment name="advanceet.filerep" value="\path\to\filerep"
		type="java.lang.String" override="false"/>-->
        <env-entry-name>advanceet.filerep</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>C:/AdvanceET/Files</env-entry-value>
            It is possible to add the following code to Tomcat's context.xml to
            customize file repository location:
        	<Environment name="advanceet.filerep" override="false" type="java.lang.String" value="\path\to\filerep"/></env-entry>
</web-app>
