#wrapper{min-width: 96em; width: 96em; max-width: none;}

#content{min-height: 50em;}

#tree{min-height: 41.5em; padding: 1.5em 0.5em 3.5em 0.5em;}
#toolbar{position: absolute; bottom: 2.7em; width: 100%; height: 5em;}
#toolbar form, #toolbar form button{width: 100%; height: 100%;}
#toolbar form button{font-size: 2em;}

.node{
    float: left;
    width: 150px;
    margin: 50px 0 0; padding: 0.5em;
    font-size: 1.2em;
    background-color: #388d3c; color: #fff;
}

.node#root{float: none; margin: 0px auto;}

.clear{clear: both;}

/* D3 STYLES --- D3 STYLES --- D3 STYLES --- D3 STYLES */
.node circle {
    fill: #317834;
}

.node rect {
    fill: #fff;
    stroke: #ccc;
    stroke-width: 1.5px;
}

rect.mid {
    fill: url(#gradient);
}

.node {
    font: 10px sans-serif;
}

.node_sel {
    font: 10px sans-serif;
}

.node_sel rect {
    fill: #317834;
    stroke: #317834;
    stroke-width: 1.5px;
}

.node_sel text {
    fill: #fff;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.node_over{
    stroke: #008000;
}
/* D3 STYLES --- D3 STYLES --- D3 STYLES --- D3 STYLES */

/*** MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES ***/
/* IPAD - OTHER TABLETS ? */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    html, body{
        width: auto; height: auto; min-height: 100%; height: 100%;
        padding: 0;
        -webkit-text-size-adjust: none;}
    
    #wrapper{
        position: relative;
        min-width: 100%; width: auto; max-width: none; min-height: 100%; height: auto;
        box-shadow: none;}
    
    #content{min-height: 100%; height: auto;}
    
    #footer p a{text-decoration: none;}
}

/* WVGA */
@media only screen
and (max-device-width : 800px) {
    html, body{
        width: auto; height: auto; min-height: 100%; height: 100%;
        padding: 0;
        -webkit-text-size-adjust: none;}
    
    #wrapper{
        position: relative;
        min-width: 100%; width: auto; max-width: none; min-height: 100%; height: auto;
        box-shadow: none;}
    
    #page-header #logo-2{/*width: 15%;*/}
    
    #content{min-height: 100%; height: auto;}
    
    #footer p a{text-decoration: none;}
}

/* SMARTPHONES */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    html, body{
        width: auto; height: auto; min-height: 100%; height: 100%;
        padding: 0;
        -webkit-text-size-adjust: none;}
    
    #wrapper{
        position: relative;
        min-width: 100%; width: auto; max-width: none; min-height: 100%; height: auto;
        box-shadow: none;}
    
    #page-header #logo-2{/*width: 15%;*/float: right;}
    
    #content{min-height: 100%; height: auto;}
    
    #footer p a{text-decoration: none;}
}

/* QVGA */
@media only screen
and (max-device-width : 240px) {
    html, body{
        width: auto; height: auto; min-height: 100%; height: 100%;
        padding: 0;
        -webkit-text-size-adjust: none;}
    
    #wrapper{
        position: relative;
        min-width: 100%; width: auto; max-width: none; min-height: 100%; height: auto;
        box-shadow: none;}
    
    #page-header #logo-2{/*width: 15%;*/}
    
    #content{min-height: 100%; height: auto;}
    
    #footer p a{text-decoration: none;}
}