/*
  Container divs
*/
div.warehouse-l1-holder div.frame {
	border: 0px solid #34DDEE;
	display: inline-block;
	position: relative;
	padding: 0px;
	margin: 0px auto;
	vertical-align: bottom;
	height: 230px;
	width: 460px;
}

div.warehouse-l1-holder div.out-details {
	border: 0px solid #34DDEE;
	display: inline-block;
	position: relative;
	padding: 0px;
	margin: 0px 0px 0px 10px;
	vertical-align: bottom;
	height: 230px;
	width: 190px;
}

div.warehouse-l1-holder div.details {
	border: 0px solid #34DDEE;
	display: block;
	position: absolute;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

div.warehouse-l1-holder div.out-details div.overall{
	left: 0px;
	top: 20px;
	height: 36%;	
}

div.warehouse-l1-holder div.out-details div.athub{
	left: 0px;
	bottom: 5px;
	height: 52%;	
}

/*
  CSS for Details area
*/
div.warehouse-l1-holder div.overall table,
div.warehouse-l1-holder div.athub table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

div.warehouse-l1-holder div.overall tr,
div.warehouse-l1-holder div.athub tr {
	color: #000000;
	border: 0px solid #D4EFBB;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
}

div.warehouse-l1-holder div.overall td{
	padding: 0px 4px 0px 0px;
	margin: 0px;
	height: 16px;
	vertical-align: middle;
}

div.warehouse-l1-holder div.athub td.normal {
	padding: auto;
	margin: auto;
	height: 16px;
	vertical-align: top;
}

div.warehouse-l1-holder div.athub td.distance {
	padding: auto;
	margin: auto;
	height: 25px;
	vertical-align: top;
}

div.warehouse-l1-holder div.overall td.legend,
div.warehouse-l1-holder div.athub td.legend {
	width: 16px;
}

div.warehouse-l1-holder div.overall td.details-right {
	text-align: right;
	padding : 0px;
}

div.warehouse-l1-holder div.athub td.details-right {
	text-align: right;
}

div.left_hub {
	width: 10px; !important;
	height: 10px; !important;
}

div.at_hub {
	width: 14px; !important;
	height: 14px; !important;
}

div.declared {
	width: 14px; !important;
	height: 14px; !important;
}

div.scanned {
	width: 14px; !important;
	height: 14px; !important;
}

div.created {
	width: 14px; !important;
	height: 14px; !important;
}

div.predicted {
	width: 12px; !important;
	height: 12px; !important;
}
